* {
  margin: 0;
  padding: 0;
}

h1 {
  max-width: 1110px;
  height: auto;
  margin: 0 auto;
  padding: 30px 0;
  box-sizing: border-box;
  background-color: blanchedalmond;
  text-align: center;
}

hr {
  max-width: 1106px;
  margin: 0 auto;
  border: 1px solid white;
}

.main {
  max-width: 1110px;
  height: auto;
  margin: 0 auto;
  padding: 15px 0 15px 0;
  background-color: blanchedalmond;
}

.cat {
  max-width: 260px;
  max-height: 600px;
  background-color: transparent;
  box-sizing: border-box;
  margin: 25px 0 25px 11px;
  display: inline-block;
  overflow: hidden;
}

.name {
  font-size: 24px;
  color: darkblue;
  display: block;
  margin: 0 0 8px 0;
  transition: 100ms ease;
}

.name:hover {
  color: red;
}

.age {
  font-size: 16px;
  display: block;
  transition: 100ms ease;
}

.age:hover {
  text-decoration: underline;
}

.price {
  font-size: 24px;
  font-weight: 700;
  display: block;
  padding: 10px 0 10px 0;
  color: brown;
  transition: 100ms ease;
}

.price:hover {
  color: red;
}

p {
  text-align: justify;
}

a {
  text-decoration: none;
}

.photo {
  width: 260px;
  transition: 500ms ease;
}

.photo:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

