* {
  margin: 0;
  padding: 0;
}

h1 {
  max-width: 1110px;
  height: auto;
  margin: 0 auto;
  padding: 30px 0;
  box-sizing: border-box;
  background-color: burlywood;
  text-align: center;
}

hr {
  max-width: 1106px;
  margin: 0 auto;
  border: 1px solid white;
}

.main {
  max-width: 1110px;
  height: auto;
  margin: 0 auto;
  padding: 40px 0;
  background-color: burlywood;
}

.cat {
  width: 260px;
  max-height: 400px;
  background-color: burlywood;
  box-sizing: border-box;
  margin: 0 0 80px 11px;
  display: inline-block;
  overflow: hidden;
}

.name {
  font-size: 22px;
  color: darkblue;
  display: block;
  margin: 0 0 8px 0;
}

.age {
  font-size: 16px;
  display: block;
}

.price {
  font-size: 24px;
  font-weight: 700;
  display: block;
  padding: 10px 0 10px 0;
  color: brown;
}

p {
  text-align: justify;
}

a {
  text-decoration: none;
}

.photo {
  width: 260px;
  max-height: 200px;
  overflow: hidden;
}

