* {
  margin: 0;
  padding: 0;
}



/*  --- Header ---  */

h1 {
  max-width: 1110px;
  height: auto;
  margin: 0 auto;
  padding: 30px 0;
  box-sizing: border-box;
  background-color: blanchedalmond;
  text-align: center;
}

hr {
  max-width: 1106px;
  margin: 0 auto;
  border: 1px solid white;
}



/*  --- Navigation ---  */

.nav {
  max-width: 1110px;
  height: 60px;
  margin: 0 auto;
  padding: 20px 20px;
  box-sizing: border-box;
  background-color: blanchedalmond;
  font-size: 18px;
}

.nav a:hover {
  color: red;
}

.left {
  float: left;
}

.left-owner {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  margin: 0 15px 0 0;
}

.left-phone {
  display: inline-block;
}

.right {
  float: right;
  margin: -6px 0 0 0;
}

.basket-img {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0 10px 0 0;
  background-image: url(/icons/to-buy-cat-button.png);
  background-repeat: no-repeat;
  background-position: center;
}

.basket-img:hover {
  transform: scale(1.1);
}

.basket-img:active {
  background-image: url(/icons/heart-button.png);
  transform: translateY(3px);
}

.basket-name {
  color: darkblue;
  font-size: 22px;
  display: inline-block;
  transform: translateY(-5px);
}



/*  --- Main ---  */

.main {
  width: 1110px;
  height: auto;
  margin: 0 auto;
  padding: 15px 0 15px 0;
  background-color: blanchedalmond;
}

.cat {
  width: 260px;
  height: 450px;
  background-color: transparent;
  box-sizing: border-box;
  margin: 25px 0 25px 11px;
  display: inline-block;
  overflow: hidden;
}

.cat-wrap {
  width: 260px;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.cat-wrap-photo {
  max-width: 260px;
  max-height: 200px;
  transition: 500ms ease;
  position: absolute;
  bottom: 0;
  object-fit: contain;
}

.cat-wrap-photo:hover {
  opacity: 0.9;
  transform: scale(1.1);
}

.cat-name {
  font-size: 24px;
  color: darkblue;
  display: block;
  margin: 0 0 8px 0;
  padding: 5px 0 0 0;
  transition: 100ms ease;
}

.cat-name:hover {
  color: red;
}

.cat-age {
  font-size: 16px;
  display: block;
  transition: 100ms ease;
}

.cat-age:hover {
  text-decoration: underline;
}

.cat-button {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 10px 15px 0 5px;
  border: none;
  transition: 100ms ease;
  background-color: transparent;
  background-position: center;
}

.cat-button:hover {
  transform: scale(1.1);
}

.cat-button:active {
  background-image: url(/icons/heart-button.png);
}

.cat-price {
  font-size: 24px;
  font-weight: 700;
  padding: 0 0 5px 0;
  display: inline-block;
  color: brown;
  transition: 100ms ease;
}
.cat-price:hover {
  color: red;
}

.cat-about {
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
}

a {
  text-decoration: none;
}


/*  --- Footer ---  */

footer {
  max-width: 1110px;
  height: 60px;
  margin: 0 auto;
  background-color: blanchedalmond;
}


